body {
    padding: 0px;
    margin: 0;
}
.navbar {
    background-color:  black;
    padding: 10px ;
    width: 250px;
}
.navbar__logo {
    padding-left:  20px  ;
    margin: 25px 0px;
}
.navbar__logo-img{
    width: 200px;
    height: 50px;
}
.navbar__menu{
    margin-bottom: 25px;
}
 .navbar__menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

 .navbar__menu-item .navbar__list-item-text{
    margin-left: 10px;
}
 .navbar__menu-item .navbar__menu-link{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: rgb(187, 184, 184);
    transition: all 0,4s ease;
    display: flex;
    align-items: center;
    padding: 10px 20px 10px 20px;
    box-sizing: border-box;

}

.navbar__menu-item:hover .navbar__menu-link {
    color:#fff;
}
.navbar__menu .navbar__menu-item :focus{
    background-color: rgb(26, 25, 25);
    border-radius: 5px;
}
.navbar__menu-item .navbar__list-icon--heart{
    height: 25px;
    width: 25px;
    background: linear-gradient(
        135deg
        ,#450af5,#c4efd9);
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar__menu-item .navbar__list-icon--plus{ 
    height: 25px;
    width: 25px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
